<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chatapp/style.css' %}">
    <title>チャットアプリ</title>
</head>
<header><a class="login_button" href="{% url 'admin:index' %}"">ログイン</a></header>
<body>
    <div class="container">
        <div class="header">
            <h1>チャットアプリ</h1>
            {% comment %} <h3>只今の時刻は{{now_date}}です。</h3> {% endcomment %}
        </div>
        <div class="chat-container">
            <ul class="chat-messages">
                {% for chat in chats %}
                <li class="chat-message">
                    <div class="avatar">
                        <img src="{% static 'chatapp/icon.png' %}" alt="アイコン画像">
                    </div>
                    <div class="message-content">
                        <div class="name">
                            {{chat.name}}
                            <span class="timestamp">{{ chat.create_at|date:"Y-m-j H:i:s" }}</span>
                        </div>
                        <div class="message">{{chat.message}}</div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="input-form">
            <form method="post">
                {% csrf_token %}
                {{ form.name }}
                {{ form.message }}
                <button type="submit">
                    <svg class="send-icon" viewBox="0 0 24 24">
                        <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</body>
</html>